{% extends "layout.html" %}
{% block javascript %}
    {{ super() }}
    <script type="text/javascript">

        var stations = [];
        var saved_alerts = [];
        var accordion_options = { heightStyle: "content" };

        var proj3857 = new OpenLayers.Projection("EPSG:3857");
        var proj4326 = new OpenLayers.Projection("EPSG:4326");
        var map;
        var features = [];
        var selectCtl;

        function removeFromSavedAlerts(alert) {
            var remove_index = -1;
            for (var i = 0 ; i < saved_alerts.length ; i++) {
                if (saved_alerts[i]._id == alert._id) {
                    remove_index = i;
                    break;
                }
            }
            if (remove_index != -1) {
                saved_alerts.splice(remove_index,1);
            }
        }

        function buildAlertHeader(alert) {

            var del_link =  $("<a />")
                                .attr("class","alert_delete")
                                .attr("href", alert.destroy_url)
                                .on("click", function(e) {
                                    e.preventDefault();
                                    $.post(alert.destroy_url
                                        ,null
                                        ,function() {
                                            // Remove alert from saved_alerts
                                            removeFromSavedAlerts(alert);

                                            var header = $(e.currentTarget).closest('h3');
                                            var contents = header.next('div');

                                            // Only refresh map when we delete the active alert or remove last alert
                                            if ((contents.css("display") != "none") || (saved_alerts.length == 0)) {
                                                syncMapWithAlert(null);
                                            }
                                            
                                            header.remove();
                                            contents.remove();
                                            $( "#alerts" ).accordion( "refresh" );

                                        });
                                    return false;
                                });

            return $("<h3 />").append($("<span />").html(alert.name))
                              .append(del_link)
                              .append("<br />")
                              .append($("<span />").attr('class','last_text').html("Last checked: " + alert.checked))
                              .append("<br />")
                              .append($("<span />").attr('class','last_text').html("Last notification sent: " + alert.sent))
                              .append("<br />")
                              .append($("<span />").attr('class','last_text').html("Notification of new alerts sent every: " + alert.frequency));
        }

        function buildAlertContents(alert) {

            var content = $("<div />");  

            // Add conditions
            var ul = $("<ul />")
            // this matches conditions with the correct station and lists them
            // under the station headings.  this is ugly.
            var last_station_id = null;
            var last_station_dom = null;            
            for (var j = 0 ; j < alert.conditions.length ; j++) {
                var this_station_id = alert.conditions[j].station_id;

                if (this_station_id != last_station_id) {
                    // Add the last station
                    ul.append(last_station_dom);

                    // Build station section
                    last_station_dom = buildStationHeading(this_station_id);
                    last_station_id = this_station_id;
                }

                last_station_dom.append(buildCondition(alert, alert.conditions[j]));
            }
            ul.append(last_station_dom);

            // Add the "Add new condition" form
            ul.append(buildAddCondition(alert));

            content.append(ul);

            classifyList(ul);

            return content;
        }

        function buildStationHeading(station_id) {
            station = findStationById(station_id);
            var d = $('<li />').attr('id', station_id);             

            // If there is a station link, create the link
            if (station.link != "") {
                d.append($("<a />")
                // Zoom to the station on the map.  The stations popup has a link to the
                // external station page.
                .attr("href","javascript:zoomToStationById('" + station_id + "')")
                .html(station.provider + " - " + station.description))
            } else {
                d.append($("<span />").html(station.provider + " - " + station.description));
            }

            return d
        }

        function buildCondition(alert, cond) {

            data = cond['timeseries'];

            var root = $('<div />').attr("class", "condition");

            root.append($("<span />").html(cond.variable + " (" + cond.units + ") " + cond.comparator + " " + cond.value));
            
            var linechart = $("<span />");
            if (data.length > 0) {
                linechart.sparkline(data, {
                    type: 'line',
                    width: '150',
                    height: '20',
                    lineColor: '#0000f0',
                    fillColor: '#c0d0f0',
                    spotRadius: 0,
                    lineWidth: 1,
                });
            }
            linechart.css("width", "150px").html(" - No recent data - ")

            root.append(linechart);

            root.append($("<a />")
                            .attr("class","condition_delete")
                            .attr("href", cond.destroy_url)
                            .on("click", function(e) {
                                e.preventDefault();
                                $.post(cond.destroy_url
                                    ,null
                                    ,function() {
                                        var station_div = $(e.currentTarget).parent().parent();
                                        var list_div = station_div.parent();
                                        // Remove condition that was clicked
                                        $(e.currentTarget).parent().remove();
                                        // Remove station heading if there are no more conditions
                                        if (station_div.find("div").length == 0) {
                                            station_div.remove();
                                        }
                                        // Add condition to saved_alerts
                                        var remove_index = -1;
                                        var active_index = getActiveAlertIndex();
                                        for (var i = 0 ; i < saved_alerts[active_index].conditions.length ; i++) {
                                            if (saved_alerts[active_index].conditions[i]._id == cond._id) {
                                                remove_index = i;
                                                break;  
                                            }
                                        }
                                        if (remove_index != -1) {
                                            saved_alerts[active_index].conditions.splice(remove_index, 1);
                                        }

                                        $( "#alerts" ).accordion( "refresh" );
                                        classifyList(list_div);
                                        syncMapWithAlert(alert);
                                    }
                                )})
                        );

            return root;
        }

        function findStationByIndex(index) {
            return stations[index];
        }

        function findStationById(id) {
            for (var i = 0 ; i < stations.length ; i++) {
                if (stations[i]._id == id) {
                    return stations[i];
                }
            }
            return null;
        }

        function buildStationSelect(click_callback) {

            var root = $("<div />")

            var label = $("<label />").attr("for","station").text("Station");
            
            var stat = $("<select />")
                            .attr("name", "station")
                            .on("change", function(e) { click_callback(e); });
            // Set value to the index into the station array
            options = ""
            $.each(stations, function(i,s) {
                options += "<option value='" + s._id + "'>" + s.provider + " - " + s.description + "</option>";
            });
            stat.append(options);

            root.append(label);
            root.append(stat);

            return root;
        }

        function buildAddCondition(alert) {

            // Create form
            var root = $("<form />").attr("class","add_condition").attr("name", alert._id).append($("<span />").html("Add condition: ")).append("<br />");

            // Add station select
            root.append(buildStationSelect(function(clicker) {
                target = $(clicker.currentTarget);
                station = findStationById(target.val());

                var_select = target.parent().parent().find("select[name=variable]");
                var_select.empty();

                if (station.variables.length < 1) {
                    variable.append($("<option />")
                                        .attr("value", "")
                                        .html("Station not reporting, please check back at a later time to add more alerts"));
                    target.parent().parent().find("button[name=add]").attr("disabled", "disabled");
                } else {
                    $.each(station.variables, function(k,v) {
                        var_select.append($("<option />")
                                            .attr("value", k)
                                            .html(k));
                    });
                    var_select.on("change", function(e) {
                                                t = $(e.currentTarget);
                                                units_select = t.parent().parent().find("select[name=units]");
                                                units_select.empty();
                                                if (station.variables.hasOwnProperty(t.val())) {
                                                    $.each(station.variables[t.val()], function(i, u) {
                                                        units_select.append($("<option />")
                                                            .attr("value", u)
                                                            .html(u));
                                                    });
                                                }
                                            });
                    var_select.trigger("change");
                    target.parent().parent().find("button[name=add]").removeAttr("disabled");
                }
                
            }));

            root.append($("<label />").attr("for", "variable").text("Variable"));
            root.append($("<select />")
                            .attr("name", "variable"));

            root.append($("<label />").attr("for", "units").text("Unit"));
            root.append($("<select />")
                            .attr("name", "units"));

            root.append($("<label />").attr("for", "comparator").text("Comparator"));
            root.append($("<select />")
                            .attr("name", "comparator")
                            .append($("<option />")
                                .attr("value", "<")
                                .text("<"))
                            .append($("<option />")
                                .attr("value", ">")
                                .text(">"))
                            .append($("<option />")
                                .attr("value", "=")
                                .text("=")));

            root.append($("<label />").attr("for", "value").text("Value"));
            root.append($("<input />")
                            .attr("name", "value")
                            .attr("type", "textfield"));

            root.append($("<button />")
                            .attr("name", "add")
                            .attr("id", alert._id)
                            .html("Add")
                            .on("click", function(e) {
                                e.preventDefault();
                                var link =  $(this);
                                $.post(alert.new_condition_url
                                    ,$("form[name=" + link.attr("id") + "]").serialize()
                                    ,function(condition) {
                                        if (condition["error"]) {
                                            $("#messages").html("<div class='flash'>" + condition["error"] + "</div>");
                                        } else {
                                            var station_dom = $("form[name=" + link.attr("id") + "]").parent().find("#" + condition.station_id);
                                            if (station_dom.length == 0) {
                                                station_dom = buildStationHeading(condition.station_id);
                                                $("form[name=" + link.attr("id") + "]").before(station_dom);
                                            }
                                            station_dom.append(buildCondition(alert, condition));

                                            // Add condition to saved_alerts
                                            getActiveAlert().conditions.push(condition);

                                            classifyList(station_dom.closest("ul"));

                                            $.sparkline_display_visible();
                                            $( "#alerts" ).accordion( "refresh" );
                                            syncMapWithAlert(alert,true);
                                        }

                                    }
                                )})
                            );

            return root;
        }

        function classifyList(element) {
            $.each($(element).find("li"), function(i,e) {
                $(e).attr("class", i % 2 == 0 ? "even" : "odd");
            });
        }

        function addAlert(alert) {
            if (alert["error"]) {
               $("#messages").html("<div class='flash'>" + alert["error"] + "</div>");
            } else {
                saved_alerts.push(alert);
                $(buildAlertHeader(alert)).appendTo("#alerts");
                $(buildAlertContents(alert)).appendTo("#alerts");
                $( "#alerts" ).accordion( "refresh" );
                $( "#alerts" ).accordion({ active: -1 });
            }
        }

        function popup(f,showSensors) {
          var station = findStationById(f.cluster ? f.cluster[0].attributes._id : f.attributes._id);
          var rows = [];
          var lines = 0; // keep track of how many data lines there are in order to set the height of the popup
          var timeFound;
          // SHOES
          // f.attributes.conditions is where it's at.
          if (showSensors) {
            for (var obsName in station.last_obs) {
              if (!timeFound) {
                timeFound = true;
                rows.unshift('<td colspan=2>' + new Date(station.last_obs[obsName].t * 1000).format("mmm d h:MM TT Z") + '</td>');
                lines++;
              }
              var obsVals = [];
              for (var obsUnit in station.last_obs[obsName].v) {
                obsVals.push(String(station.last_obs[obsName].v[obsUnit] + ' ' + obsUnit).replace(/ /g,'&nbsp;'));
              }
              if (obsVals.length == 0) {
                obsVals = ['---'];
              }
              var alertImg = '{{ url_for('.static', filename='images/blank.png') }}';
              // SHOES this is where you would test for the alert activity
              if (rows.length % 2 == 0) {
                alertImg = '{{ url_for('.static', filename='images/alert16.png') }}';
              }
              rows.push(
                '<td align=left><a href="javascript:gotoCondition(\'' + station._id + '\',\'' + obsName + '\')">' + obsName + '</a></td>' 
                + '<td align=right>' + obsVals.join('<br>') + '</td>'
                + '<td><img width=16 height=16 src="' + alertImg + '"></td>'
              );
              lines += obsVals.length;
            }
            rows.push('<td colspan=2 align=center><font color=gray>Click on a sensor link to access alert settings.</font></td>');
            lines++;
            rows.push('<td colspan=2 align=center><font color=gray>Click <a href="' + station.link + '" target=\'_blank\'>here</a> for station information.</font></td>');
            lines++;
          }
          else {
            rows.push('<td align=center><font color=gray>Click the icon to view sensor details.</font></td>');
            lines++;
          }
          rows.unshift('<th colspan=2>' + station.provider + ' - ' + station.description + '</th>');
          lines++;
          var centroid = f.geometry.getCentroid();
          map.popup = new OpenLayers.Popup.FramedCloud(
             'popup'
            ,new OpenLayers.LonLat(centroid.x,centroid.y)
            ,null
            ,'<table class="buoyPopup"><tr>' + rows.join('</tr><tr>') + '</tr></table>'
            ,null
            ,showSensors
            ,function() {
              map.removePopup(map.popup);
              map.popup.destroy();
              delete map.popup;
            }
          );
          // map.popup.panMapIfOutOfView = false;
          map.popup.name = f.attributes.name;
          map.addPopup(map.popup,true);
          map.popup.setSize(new OpenLayers.Size(275,(lines + 1.5) * 20));
        }

        function recenterAndZoomToFeature(f) {
          var centroid = f.geometry.getCentroid();
          map.setCenter(new OpenLayers.LonLat(centroid.x,centroid.y),map.getZoom() + 1);
          if (map.popup) {
            map.removePopup(map.popup);
            map.popup.destroy();
            delete map.popup;
          }
        }

        function zoomToStationById(id) {
          var lyr = map.getLayersByName('Stations')[0];
          var f = lyr.features;
          for (var i = 0 ; i < f.length; i++) {
            for (var j = 0 ; j < f[i].cluster.length; j++) {
              if (f[i].cluster[j].attributes._id == id) {
                f[i].cluster[j].attributes.force = 1;
                var centroid = f[i].geometry.getCentroid();
                map.setCenter(new OpenLayers.LonLat(centroid.x,centroid.y),8);
                popup(f[i],true);
                return;
              }
            }
          }
        }

        function getActiveAlertIndex() {
            var active_index = $( "#alerts" ).accordion( "option", "active" );
            if (active_index == -1) {
                return saved_alerts.length - 1
            } else if (active_index === false) {
                return null;
            } else {
                return active_index;
            }
        }

        function getActiveAlert() {
            var active_index = $( "#alerts" ).accordion( "option", "active" );
            if (active_index == -1) {
                active_alert = saved_alerts.slice(active_index, saved_alerts.length)[0];
            } else if (active_index === false) {
                active_alert = null;
            } else {
                active_alert = saved_alerts[active_index];
            }
            return active_alert;
        }

        function gotoCondition(station_id, sensorName) {
          // This should set the Condition values to the station and parameter that was clicked,
          // allowing the user to quickly add an alert for this parameter.
          active_alert = getActiveAlert();

          if (active_alert == null) {
            // THERE ARE NO ALERTS
            $.ajax({
                type    : 'POST',
                url     : "{{ url_for('new_alert') }}",
                data    : $("#alert_form").serialize(),
                async   : false,
            }).done(function(alert) {
                addAlert(alert);
                active_alert = alert;
            });
          }

          var form_dom =  $("form[name=" + active_alert._id + "]")
          var station_dom =  form_dom.parent().find("#" + station_id);
          if (station_dom.length > 0) {
            // Highlight station listing
            station_dom.effect("highlight", {}, 1000);
          }

          $.when(
            // Populate condition fields with information
            form_dom.find("select[name=station]").val(station_id).trigger("change")
          ).done(function() {
            form_dom.find("select[name=variable]").val(sensorName).trigger("change");
            form_dom.effect("highlight", {}, 1000);
          })
        }

        function pokeMap() {
          // the icons don't always update so, force it here
          if (map.getZoom() > 1) {
            map.zoomIn();
            map.zoomOut();
          }
          else {
            map.zoomOut();
            map.zoomIn();
          }
        }

        function syncMapWithAlert(alert,zoomTo) {
          var lyr = map.getLayersByName('Stations')[0];
          lyr.removeFeatures();
          // If null is passed in, just clear the map.

          var bbox = new OpenLayers.Bounds();
          for (var i = 0 ; i < features.length ; i++) {
            features[i].attributes.numAlertsWatched   = 0;
            features[i].attributes.numAlertsTriggered = 0;
            features[i].attributes.force              = 0;
            if (alert != null) {
                features[i].attributes.conditions     = alert.conditions;
                for (var k = 0 ; k < alert.conditions.length ; k++) {
                    if (features[i].attributes._id == alert.conditions[k].station_id) {
                        features[i].attributes.numAlertsWatched++;
                        // SHOES need to do the real testing here
                        features[i].attributes.numAlertsTriggered += (k == 1 || k % 2 == 0) ? 1 : 0;
                	bbox.extend(features[i].geometry.getBounds());
                    }
                }
            }
          }
          lyr.addFeatures(features);
          lyr.redraw();
          // zoom to the alert if we have a decent bbox
          if (zoomTo && typeof(bbox.bottom) == 'number') {
            var size = bbox.getSize();
            if (size.w == 0 && size.h == 0) {
              // oops, only 1 point in bbox, so set the center around it @ zoom level 8
              map.setCenter(bbox.getCenterLonLat(),8);
            }
            else {
              map.zoomToExtent(bbox);
            }
          }
          else {
            pokeMap();
          }
        }

        $(document).ready(function() {
            {%- if user.is_active() -%}

                var lyr = new OpenLayers.Layer.Vector(
                   'Stations'
                  ,{
                    styleMap : new OpenLayers.StyleMap({
                      'default': new OpenLayers.Style({
                           graphicZIndex   : "${getGraphicZIndex}"
                          ,externalGraphic : "${getExternalGraphic}"
                          ,graphicOpacity  : 1
                          ,graphicWidth    : "${getGraphicWidthHeight}"
                          ,graphicHeight   : "${getGraphicWidthHeight}"
                          ,pointRadius     : "${getPointRadius}"
                      }, {
                          context: {
                              getGraphicZIndex : function(feature) {
                                  if (feature.attributes.count == 1) {
                                      if (feature.cluster[0].attributes.numAlertsTriggered > 0) {
                                          return 10;
                                      }
                                      else if (feature.cluster[0].attributes.numAlertsWatched > 0) {
                                          return 5;
                                      }
                                      else {
                                          return 7;
                                      }
                                  }
                                  return 1;
                              }
                              ,getExternalGraphic : function(feature) {
                                  if (feature.attributes.count == 1) {
                                      if (feature.cluster[0].attributes.numAlertsTriggered > 0) {
                                          if (feature.cluster[0].attributes.numAlertsTriggered - feature.cluster[0].attributes.numAlertsWatched == 0) {
                                              return '{{ url_for('.static', filename='images/traffic-red32.png') }}';
                                          }
                                          else {
                                              return '{{ url_for('.static', filename='images/traffic-yellow32.png') }}';
                                          }
                                      }
                                      else if (feature.cluster[0].attributes.numAlertsWatched > 0) {
                                          return '{{ url_for('.static', filename='images/traffic-green32.png') }}';
                                      }
                                      else {
                                          return '{{ url_for('.static', filename='images/site20.png') }}';
                                      }
                                  }
                                  else {
                                      return '{{ url_for('.static', filename='images/magnifier16.png') }}';
                                  }
                              }
                              ,getGraphicWidthHeight : function(feature) {
                                  if (feature.attributes.count == 1) {
                                      if (feature.cluster[0].attributes.numAlertsTriggered > 0) {
                                          return 32; 
                                      }
                                      else if (feature.cluster[0].attributes.numAlertsWatched > 0) {
                                          return 32;
                                      }
                                      else {
                                          return 20;
                                      }
                                  }
                                  return 16;
                              }
                              ,getPointRadius : function(feature) {
                                  if (feature.attributes.count == 1) {
                                      if (feature.cluster[0].attributes.numAlertsTriggered > 0) {
                                          return 32 / 2;
                                      }
                                      else if (feature.cluster[0].attributes.numAlertsWatched > 0) {
                                          return 32 / 2;
                                      }
                                      else {
                                          return 20 / 2;
                                      }
                                  }
                                  return 16 / 2;
                              }
                          }
                      })
                    })
                    ,strategies : [new OpenLayers.Strategy.Cluster({
                      rule: new OpenLayers.Rule({
                          filter: new OpenLayers.Filter.Logical({
                            type    : OpenLayers.Filter.Logical.AND
                           ,filters : [
                              new OpenLayers.Filter.Comparison({
                                   type     : OpenLayers.Filter.Comparison.EQUAL_TO
                                  ,property : 'numAlertsWatched'
                                  ,value    : 0
                              })
                              ,new OpenLayers.Filter.Comparison({
                                   type     : OpenLayers.Filter.Comparison.NOT_EQUAL_TO
                                  ,property : 'force'
                                  ,value    : 1
                              })
                            ]
                          })
                      })
                      ,shouldCluster: function(cluster, feature) {
                          var superProto = OpenLayers.Strategy.Cluster.prototype;
                          return this.rule.evaluate(cluster.cluster[0]) &&
                                 this.rule.evaluate(feature) &&
                                 superProto.shouldCluster.apply(this,arguments);
                      }
                    })]
                    ,rendererOptions: {zIndexing: true}
                  }
                );
                selectCtl = new OpenLayers.Control.SelectFeature(
                   lyr
                  ,{
                     autoActivate   : true
                    ,eventListeners : {
                      featurehighlighted : function(e) {
                        if (e.feature.attributes.count == 1) {
                          popup(e.feature,true);
                        }
                        else {
                          recenterAndZoomToFeature(e.feature);
                        }
                      }
                    }
                  }
                );
                map = new OpenLayers.Map('map',{
                    layers             : [
                        new OpenLayers.Layer.XYZ(
                             'ESRI Ocean'
                            ,'http://services.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/${z}/${y}/${x}.jpg'
                            ,{
                                 sphericalMercator : true
                                ,isBaseLayer       : true
                            }
                        )
                        ,lyr
                    ]
                    ,projection        : proj3857
                    ,displayProjection : proj4326
                    ,units             : 'm'
                    ,maxExtent         : new OpenLayers.Bounds(-20037508,-20037508,20037508,20037508.34)
                });
                map.addControl(selectCtl);
                map.setCenter(new OpenLayers.LonLat(-84.4,44.0).transform(proj4326,proj3857),6);

                $( "#alerts" ).accordion(accordion_options);
                $( "#alerts" ).on("accordionactivate", function(event, ui) {
                    $(ui.newPanel).find("select[name=station]").trigger("change");
                    $.sparkline_display_visible();

                    syncMapWithAlert(getActiveAlert() ,true);
                    $( "#alerts" ).accordion( "refresh" );
                });

                // Get stations
                $.get("{{ url_for('stations') }}", function(ss) {
                    var allStations  = ss["stations"];
                    var stations2ids = {};
                    // filter out stations outside our AOI
                    var aoi = new OpenLayers.Format.GeoJSON().read(getAOI())[0].geometry.transform(proj4326,proj3857);
                    for (var i = 0 ; i < allStations.length ; i++) {
                        var f = new OpenLayers.Feature.Vector(
                          new OpenLayers.Geometry.Point(
                             allStations[i].coordinates[1]
                            ,allStations[i].coordinates[0]
                          ).transform(proj4326,proj3857)
                          ,{
                             _id                : allStations[i]._id
                            ,numAlertsWatched   : 0
                            ,numAlertsTriggered : 0
                            ,force              : 0
                          }
                        );
                        if (aoi.intersects(f.geometry)) {
                          features.push(f);
                          stations2ids[allStations[i].provider + ' - ' + allStations[i].description] = allStations[i]._id;
                          stations.push(allStations[i]);
                        }
                    }

                    var sortedStations = [];
                    for (var s in stations2ids) {
                      sortedStations.push(s);
                    }
                    sortedStations.sort(function(a,b) {
                      return a.toLowerCase().localeCompare(b.toLowerCase());
                    });
                    var searchStations = [];
                    for (var i = 0; i < sortedStations.length; i++) {
                      searchStations.push({label : sortedStations[i],id : stations2ids[sortedStations[i]]});
                    }

                    $("#search").autocomplete({
                       source    : searchStations
                      ,select    : function(e,ui) {
                        zoomToStationById(ui.item.id);
                      }
                      ,minLength : 0
                    }).focus(function() {
                      $(this).autocomplete('search',$(this).val());
                    });

                    $.get("{{ url_for('alerts') }}", function(alerts) {
                        alerts = alerts["alerts"];
                        for (var i = 0 ; i < alerts.length ; i++) {
                            saved_alerts.push(alerts[i]);
                            $(buildAlertHeader(alerts[i])).appendTo("#alerts");
                            $(buildAlertContents(alerts[i])).appendTo("#alerts");
                        }
                        $( "#alerts" ).accordion( "refresh" );
                        $( "#alerts" ).accordion( "option", "active", 0 );
                        $.sparkline_display_visible();
                        syncMapWithAlert(saved_alerts[0],true);
                    });
                });

                $("#alert_create_button").click(function() {
                    $.post("{{ url_for('new_alert') }}", 
                        $("#alert_form").serialize(),
                        function(alert) {
                            addAlert(alert);
                        }
                    );
                });

            {%- endif -%}
        });
    </script>
{% endblock %}
{% block page %}

    {%- if user.is_active() -%}

        <div id='left_notes'>
            <form id="alert_form">
                <label for="name">Name</label>
                <input type="textfield" id="name" name="name" />
                <label for="frequency">Notify me of new alerts every</label>
                <select type="select" id="frequency" name="frequency">
                    <option value="10">10 minutes</option>
                    <option value="20">20 minutes</option>
                    <option value="40">40 minutes</option>
                    <option value="60">1 hour</option>
                    <option value="360">6 hours</option>
                    <option value="720">12 hours</option>
                    <option value="1440">1 day</option>
                </select>
            </form>            
            <button name="alert_create_button" id="alert_create_button">Create Alert</button>
        </div>
        <div id='right_notes'>
            <div>Signed in as {{ user.email }}</div>
            <a href="{{ url_for('logout') }}">sign out</a>
        </div>

        <div class='clear'></div>

        <div id="page_wrapper">
            <div id="alerts"></div>
            <div id='map_wrapper'>
                <div id="searchDiv">Search for a station: <input id="search"></div>
                <div id="map"></div>
            </div>
            <div class="clear"></div>
        </div>

    {%- else -%}

        <div id='welcome'>
            <h2>WELCOME!</h2>
            <p>
                GLOS Alerts allows you to create alerts with different variables related to the water temperature, salinity, wave height and direction. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <div id="social_logins">
                <a href="{{ url_for('login_google') }}">
                    <img src="{{ url_for('.static', filename='images/google.png') }}" />
                </a>
                <a href="{{ url_for('login_facebook') }}">
                    <img src="{{ url_for('.static', filename='images/facebook.png') }}" />
                </a>
                <h4>We only use the above services to verify your email address.</h4>
                <h4>No additional information is ever collected or shared.</h4>
                <div class="clear"></div>
            </div>

            <div id='logins'>
                <h2>Prefer not to use a social login?</h2>
                <div>
                    <h3>Enter your email to create an account:</h3>
                    <form name="register" method="POST" action="{{ url_for('signup') }}">
                        <input type="text" name="email" />
                        <input type="submit" name="submit" value="Create" />
                    </form>
                </div>
                <div id="local">
                    <h3>Already have an account?</h3>
                    <form name="register" method="POST" action="{{ url_for('login_local') }}">
                        <label for="email">Email</label>
                        <input type="text" name="email" />
                        <label for="password">Password</label>
                        <input type="password" name="password" />
                        <input type="submit" name="submit" value="Login" />
                    </form>
                </div>

            </div>
            <div class="clear"></div>

        </div>

    {%- endif -%}

{% endblock %}
