{% extends "layout.html" %}
{% block javascript %}
    {{ super() }}
    <script type="text/javascript">

        var stations = []

        function buildAlert(alert) {

            var root = $("<li />").append($("<span />").html(alert.name));

            root.append($("<span />").html("Last checked: " + alert.checked));

            // Add delete link
            root.append($("<a />")
                .html("Delete")
                .attr("href", alert.destroy_url)
                .on("click", function(e) {
                    e.preventDefault();
                    $.post(alert.destroy_url
                        ,null
                        ,function() {
                            $(e.currentTarget).parent().remove();
                        }
                    )}));

            // Add conditions
            var ul = $("<ul />")
            for (var j = 0 ; j < alert.conditions.length ; j++) {
                ul.append(buildCondition(alert.conditions[j]));
            }
            // Add the "Add new condition" form
            ul.append(buildAddCondition(alert));

            root.append(ul);

            return root.append(ul);
        }

        function buildCondition(cond) {

            data = cond['timeseries'];

            console.log(cond);

            var root = $('<li />');

            station = findStationById(cond.station_id);

            // If there is a station link, create the link
            if (station.link != "") {
                root.append($("<a />")
                .attr("href", station.link)
                .attr("target", "_blank")
                .html(station.provider + " - " + station.description))
            } else {
                root.append($("<span />").html(station.provider + " - " + station.description));
            }

            root.append($("<span />").html(cond.variable + " (" + cond.units + ") " + cond.comparator + " " + cond.value));
            
            var linechart = $("<span>&nbsp;</span");
            linechart.sparkline(data, {
                type: 'line',
                width: '100',
                lineColor: '#0000f0',
                fillColor: '#c0d0f0',
                spotRadius: 0,
                lineWidth: 1,
            });

            root.append(linechart);

            root.append($("<button />")
                            .html("Delete")
                            .on("click", function(e) {
                                e.preventDefault();
                                $.post(cond.destroy_url
                                    ,null
                                    ,function() {
                                         $(e.currentTarget).parent().remove();
                                    }
                                )})
                        );

            return root;
        }

        function findStationByIndex(index) {
            return stations[index];
        }

        function findStationById(id) {
            for (var i = 0 ; i < stations.length ; i++) {
                if (stations[i]._id == id) {
                    return stations[i];
                }
            }
            return null;
        }

        function buildStationSelect(click_callback) {

            var stat = $().add($("<select />")
                                .attr("name", "station")
                                .on("change", function(e) { click_callback(e); }));

            // Set value to the index into the station array
            $.each(stations, function(i,s) {
                stat.append($("<option />")
                                .attr("value", s._id)
                                .html(s.provider + " - " + s.description));
            });

            return stat;
        }

        function buildAddCondition(alert) {

            // Create form
            var root = $("<form />").attr("name", alert._id).append($("<span />").html("Add condition: "))

            // Add station select
            root.append(buildStationSelect(function(clicker) {
                target = $(clicker.currentTarget);
                station = findStationById(target.val());

                var_select = target.parent().find("select[name=variable]");
                var_select.empty();

                if (station.variables.length < 1) {
                    variable.append($("<option />")
                                        .attr("value", "")
                                        .html("Station not reporting, please check back at a later time to add more alerts"));
                    target.parent().find("button[name=add]").attr("disabled", "disabled");
                } else {
                    $.each(station.variables, function(k,v) {
                        var_select.append($("<option />")
                                            .attr("value", k)
                                            .html(k));
                    });
                    var_select.on("change", function(e) {
                                                t = $(e.currentTarget);
                                                units_select = t.parent().find("select[name=units]");
                                                units_select.empty();
                                                $.each(station.variables[t.val()], function(i, u) {
                                                    units_select.append($("<option />")
                                                        .attr("value", u)
                                                        .html(u));
                                                });
                                            });
                    var_select.trigger("change");
                    target.parent().find("button[name=add]").removeAttr("disabled");
                }
                
            }));

            root.append($("<select />")
                            .attr("name", "variable"));

            root.append($("<select />")
                            .attr("name", "units"));

            root.append($("<select />")
                            .attr("name", "comparator")
                            .append($("<option />")
                                .attr("value", "<=")
                                .html("<="))
                            .append($("<option />")
                                .attr("value", ">=")
                                .html(">="))
                            .append($("<option />")
                                .attr("value", "=")
                                .html("=")));

            root.append($("<input />")
                            .attr("name", "value")
                            .attr("type", "textfield"));

            root.append($("<button />")
                            .attr("name", "add")
                            .attr("id", alert._id)
                            .html("Add")
                            .on("click", function(e) {
                                e.preventDefault();
                                var link =  $(this);
                                $.post(alert.new_condition_url
                                    ,$("form[name=" + link.attr("id") + "]").serialize()
                                    ,function(condition) {
                                        if (condition["error"]) {
                                            $("#messages").html("<div class='flash'>" + condition["error"] + "</div>");
                                        } else {
                                            $("form[name=" + link.attr("id") + "]").before(buildCondition(condition));
                                        }
                                    }
                                )})
                            );

            return root;
        }

        function addAlert(alert) {
            if (alert["error"]) {
               $("#messages").html("<div class='flash'>" + alert["error"] + "</div>");
            } else {
                $("#alerts").append(buildAlert(alert));
                $("#alerts").find("select[name=station]").trigger("change");
                $.sparkline_display_visible();
            }
        }

        $(document).ready(function() {
            {%- if session.get('user_email', None) -%}

                // Get stations
                $.get("{{ url_for('stations') }}", function(ss) {
                    stations = ss["stations"];
                    // Get alerts
                    $.get("{{ url_for('alerts') }}", function(alerts) {
                        alerts = alerts["alerts"];
                        for (var i = 0 ; i < alerts.length ; i++) {
                            $("#alerts").append(buildAlert(alerts[i]));
                            $("#alerts").find("select[name=station]").trigger("change");
                            $.sparkline_display_visible();
                        }
                    });
                });

                $("#create").click(function() {
                    $.post("{{ url_for('new_alert') }}", 
                        $("#alert_form").serialize(),
                        function(alert) {
                            addAlert(alert);
                        }
                    );
                });

            {%- endif -%}
        });
    </script>
{% endblock %}
{% block page %}

    {%- if session.get('user_email', None) -%}
        <h2>Alerts</h2>
        <ul id="alerts"></ul>

        <h2>Create alert</h2>
        <form id="alert_form">
            <label for="name">Name</label>
            <input type="textfield" id="name" name="name" />
        </form>

        <br />

        <button name="create" id="create">Create Alert</button>

    {%- else -%}

        <div id='welcome'>
            <h2>WELCOME!</h2>
            <p>
                GLOS Alerts allows you to create alerts with different variables related to the water temperature, salinity, wave height and direction. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <div id='logins'>
                <a href="{{ url_for('login_google') }}">
                    <img src="{{ url_for('.static', filename='images/google.png') }}" />
                    <span>Login using your google account</span>
                </a>
                <a href="{{ url_for('login_facebook') }}">
                    <img src="{{ url_for('.static', filename='images/facebook.png') }}" />
                    <span>Login using your facebook account</span>
                </a>
            </div>

        </div>

    {%- endif -%}

{% endblock %}