<!doctype html>
<head>
    <title>Alerting</title>
    {% block javascript %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="{{ url_for('.static', filename='jquery.sparkline.min.js') }}"></script>
        <script src="{{ url_for('.static', filename='jquery.jeditable.min.js') }}"></script>
        <script src="{{ url_for('.static', filename='OpenLayers-2.12-rc7/OpenLayers-closure.js') }}"></script>
        <script src="{{ url_for('.static', filename='buffer.js') }}"></script>
        <script src="{{ url_for('.static', filename='dateFormat.js') }}"></script>
        <script src="{{ url_for('.static', filename='spin.min.js') }}"></script>
    {% endblock %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='jquery-ui.custom.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='OpenLayers-2.12-rc7/theme/default/google.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='style.css') }}" />
    {% endblock %}
</head>
<body>
    {% block body %}

        <div id='header'></div>

        <div id='content'>
            <div id="messages">
                {%- for message in get_flashed_messages() -%}
                    <div class='flash'>{{ message }}</div>
                {%- endfor -%}
            </div>

            <div id='wrapper'>
                {% block page %}{% endblock %}
            </div>
        </div>

    {% endblock %}
</body>
