{% extends "layout.html" %}
{% block javascript %}
    {{ super() }}
{% endblock %}
{% block page %}

    <div id='welcome'>
        <h2>Please choose a new password</h2>
        <h3>Setting a password will allow you to use any of the available login methods on the front page.</h3>
        <br />
        <form name="password" method="POST" action="{{ url_for('save_password') }}">
            <label for="email">Password</label>
            <input type="password" name="password" />
            <label for="password">Confirm</label>
            <input type="password" name="confirm" />
            <input type="submit" name="submit" value="Set Password" />
        </form>
    </div>

{% endblock %}
