html {
    font: normal normal 10px Verdana,Arial,sans-serif;
}

body {
    margin: 0;
    padding: 35px 0 35px 0;
    background-color: #0B5499;
}

h2 {
    font-size: 24px;
    color: #0B5499;
}

h4 {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

form {
    padding: 0;
    margin: 0;
}

#header {
    width: 960px;
    margin: 0 auto;
    background: url('/static/images/header.jpg') no-repeat;
    border: 1px solid #000000;
    border-bottom: none;
    height: 137px;
}

#messages {

}

    #messages .flash {
        clear: both; 
        background: #CEE5F5; 
        padding: 0.5em; 
        border: 1px solid #AACBE2;
        width: 500px; 
        margin: 10px auto; 
        text-align: center;
    }


#content {
    width: 960px;
    margin: 0 auto;
    padding: 20px 0px;
    background: url('/static/images/bkgd.jpg') no-repeat;
    background-color: #fff;
    border: 1px solid #000000;
    border-top: none;
}

#wrapper {
    padding: 0 20px;
}

#welcome {
    padding: 30px 0;
    line-height: 24px;
    width: 700px;
    margin: 0 auto;
}

    #welcome #logins {
        text-align: center;
        width: 400px;
        margin: 0 auto;
    }

    #welcome #logins a {
        display: block;
        padding: 10px;
    }

#left_notes {
    float: left;
}

#right_notes {
    float: right;
}

.clear {
    clear: both;
}

.last_text {
    margin-left: 10px;
}

#alert_form {
    float: left;
}

#alert_create_button {
    float: left;
}

.alert_delete {
    float: right;
}

#alerts {
    width: 448px;
    float: left;
}

#map_wrapper {
    width: 448px;    
    float: right;
    }

    #map_wrapper #search {
        border: 1px solid #A6C9E2;
        width   : 328px;
        font : 11px tahoma,helvetica,sans-serif;
	margin-bottom : 2px;
    }
    
    #map_wrapper #map {
        height: 448px;
        border: 1px solid #A6C9E2;
    }

.ui-autocomplete { position: absolute; cursor: default;z-index:3000 !important;}  

.buoyPopup {
  background : white;
  padding    : 6px;
}

.buoyPopup th {
  font        : 11px tahoma,helvetica,sans-serif;
  font-weight : bold;
  text-align  : center;
}
.buoyPopup td {
  font        : 11px tahoma,helvetica,sans-serif;
  vertical-align : top;
}

.olFramedCloudPopupContent {
    overflow: auto;
    padding: 0 3px 0 3px;
    text-align : center;
    font-size : 12px;
}
